header.header
    nav.nav.nav--tours
        a.nav__el(href='#') All tours
        .header__logo
            img(src='img/logo-white.png' alt='Natours Logo')
    nav.nav.nav--user
        //- a.nav_el(href='#') My Bookings
        //- a.nav_el(href='#')
        //-     img(src='img/user.jpeg' alt='User Photo')
        //-     span Jonas
        button.nav__el Login
        button.nav__el.nav__el--cta Sign up